# PROBLEM STATEMENT

## We have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. We have to back our recommendations based on thorough analysis of the data he shared with us which has the list of 3000 movies and the corresponding details.
As a data scientist, you have to first explore the data and check its sanity.
Further, you have to answer the following questions:
Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.
This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?
Find out the unique genres of movies in this dataset.
Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?
Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.
Top 3 directors prefer which actors the most?

In [2]:
import pandas as pd
import numpy as np

In [3]:
imdb_df = pd.read_csv("D:\Office\imdb_project/imdb_data.csv")

In [4]:
imdb_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [5]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [6]:
type(imdb_df.loc[0, 'crew'])

str

In [7]:
imdb_df.loc[0, 'crew']

'[{\'credit_id\': \'59ac067c92514107af02c8c8\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1449071, \'job\': \'First Assistant Director\', \'name\': \'Kelly Cantley\', \'profile_path\': None}, {\'credit_id\': \'52fe4ee7c3a36847f82afad7\', \'department\': \'Directing\', \'gender\': 2, \'id\': 3227, \'job\': \'Director\', \'name\': \'Steve Pink\', \'profile_path\': \'/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg\'}, {\'credit_id\': \'5524ed25c3a3687ded000d88\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Writer\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed2d925141720c001128\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Characters\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed3d92514166c1004a5d\', \'department\': \'Production\', \'gender\': 2, \'id\': 57822, \'job\': \'Producer\', \'name\': \'Andrew Panay\', \'profile_path\': None}, {\'credit_id\': \'5524ed4bc3a3687df3000dd2\', \'department\': \'Production\', \'gender\': 0, \'id\': 1451395, \'job\': \'Associate Producer\', \'name\': \'Adam Blum\', \'profile_path\': None}, {\'credit_id\': \'5524ed5a925141720c00112c\', \'department\': \'Production\', \'gender\': 2, \'id\': 52997, \'job\': \'Executive Producer\', \'name\': \'Rob Corddry\', \'profile_path\': \'/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg\'}, {\'credit_id\': \'5524ed85c3a3687e0e000f56\', \'department\': \'Production\', \'gender\': 0, \'id\': 62807, \'job\': \'Executive Producer\', \'name\': \'Ben Ormand\', \'profile_path\': None}, {\'credit_id\': \'5524ed9fc3a3687e0e000f59\', \'department\': \'Sound\', \'gender\': 2, \'id\': 23486, \'job\': \'Original Music Composer\', \'name\': \'Christophe Beck\', \'profile_path\': \'/2fnJUmCk6IEpVIptpYaUk31epHx.jpg\'}, {\'credit_id\': \'5524eda6c3a3687e03000d28\', \'department\': \'Camera\', \'gender\': 2, \'id\': 6117, \'job\': \'Director of Photography\', \'name\': \'Declan Quinn\', \'profile_path\': None}, {\'credit_id\': \'5524edb4925141720c00113d\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1451396, \'job\': \'Editor\', \'name\': \'Jamie Gross\', \'profile_path\': None}, {\'credit_id\': \'5524edc1925141727600102e\', \'department\': \'Production\', \'gender\': 0, \'id\': 22219, \'job\': \'Casting\', \'name\': \'Susie Farris\', \'profile_path\': None}, {\'credit_id\': \'5524edd192514171cb008257\', \'department\': \'Art\', \'gender\': 0, \'id\': 1002643, \'job\': \'Production Design\', \'name\': \'Ryan Berg\', \'profile_path\': None}, {\'credit_id\': \'555ad9be9251411e5b00d485\', \'department\': \'Production\', \'gender\': 2, \'id\': 57431, \'job\': \'Executive Producer\', \'name\': \'Matt Moore\', \'profile_path\': None}, {\'credit_id\': \'5677e93bc3a36816890087dc\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1551818, \'job\': \'Script Supervisor\', \'name\': \'Nicole Garcea\', \'profile_path\': None}, {\'credit_id\': \'5677e96a92514179e10093d0\', \'department\': \'Production\', \'gender\': 0, \'id\': 1551819, \'job\': \'Production Coordinator\', \'name\': \'Jason Salzman\', \'profile_path\': None}, {\'credit_id\': \'5677e98492514179d2008cd9\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1422996, \'job\': \'Costume Design\', \'name\': \'Carol Cutshall\', \'profile_path\': None}, {\'credit_id\': \'5677e9d5c3a368168e009414\', \'department\': \'Art\', \'gender\': 2, \'id\': 500199, \'job\': \'Set Decoration\', \'name\': \'Tim Cohn\', \'profile_path\': None}, {\'credit_id\': \'5677f89d9251417845001a61\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1527917, \'job\': \'Hair Department Head\', \'name\': \'Voni Hinkle\', \'profile_path\': None}, {\'credit_id\': \'5677f8b392514179dd0089fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431554, \'job\': \'Makeup Department Head\', \'name\': \'Remi Savva\', \'profile_path\': None}, {\'credit_id\': \'5677f8d1c3a3681689008a4b\', \'department\': \'Art\', \'gender\': 0, \'id\': 66495, \'job\': \'Art Direction\', \'name\': \'Jason Baldwin Stewart\', \'profile_path\': None}, {\'credit_id\': \'5677f8eec3a3681685008dd5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1412466, \'job\': \'Production Supervisor\', \'name\': \'Korey Budd\', \'profile_path\': None}, {\'credit_id\': \'5677f90a9251417845001a7d\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1401562, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary C. Bourgeois\', \'profile_path\': None}, {\'credit_id\': \'5677f91e9251417845001a84\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1396794, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gabriel J. Serrano\', \'profile_path\': None}, {\'credit_id\': \'5677f938c3a3681680008dd4\', \'department\': \'Editing\', \'gender\': 0, \'id\': 13168, \'job\': \'Dialogue Editor\', \'name\': \'Victoria Rose Sampson\', \'profile_path\': None}, {\'credit_id\': \'5677f94e92514179dd008a1f\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551839, \'job\': \'Production Sound Mixer\', \'name\': \'Michael B. Koff\', \'profile_path\': None}, {\'credit_id\': \'5677f968c3a368168e009698\', \'department\': \'Sound\', \'gender\': 0, \'id\': 113052, \'job\': \'Sound Effects Editor\', \'name\': \'Randall Guth\', \'profile_path\': None}, {\'credit_id\': \'5677f98dc3a3681685008e02\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1442535, \'job\': \'Stunt Coordinator\', \'name\': \'Chuck Picerni Jr.\', \'profile_path\': \'/yE5QtXUzcrnCzMRctZL8F5g842B.jpg\'}, {\'credit_id\': \'5677f9a692514179dd008a49\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1437305, \'job\': \'Camera Operator\', \'name\': \'Michael Applebaum\', \'profile_path\': None}, {\'credit_id\': \'5677f9bd9251417845001aae\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1401765, \'job\': \'Still Photographer\', \'name\': \'Steve Dietl\', \'profile_path\': None}, {\'credit_id\': \'5677f9e592514179e7008bf7\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402721, \'job\': \'Rigging Gaffer\', \'name\': \'Tarik Naim Alherimi\', \'profile_path\': None}, {\'credit_id\': \'5677f9f4c3a368167c0090ed\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402719, \'job\': \'Gaffer\', \'name\': \'Paul Olinde\', \'profile_path\': None}, {\'credit_id\': \'5677fa21c3a368168e0096ca\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Supervisor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa31c3a3681680008e04\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551841, \'job\': \'Music Editor\', \'name\': \'Matt Fausak\', \'profile_path\': None}, {\'credit_id\': \'5677fa4392514179dd008a76\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Editor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa609251417845001acf\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1403416, \'job\': \'Costume Supervisor\', \'name\': \'Shonta T. McCray\', \'profile_path\': None}, {\'credit_id\': \'5677fa8492514179d2008fb3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1425831, \'job\': \'Steadicam Operator\', \'name\': \'Mark Karavite\', \'profile_path\': None}, {\'credit_id\': \'5677fab2c3a3681689008ac3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1551842, \'job\': \'First Assistant Camera\', \'name\': \'Joe Waistell\', \'profile_path\': None}, {\'credit_id\': \'5677faecc3a368168e0096fe\', \'department\': \'Sound\', \'gender\': 0, \'id\': 58362, \'job\': \'Supervising Sound Editor\', \'name\': \'Michael Hilkene\', \'profile_path\': None}, {\'credit_id\': \'59ac0368c3a3682c0a02c484\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1881584, \'job\': \'Additional Writing\', \'name\': \'John Karnay\', \'profile_path\': None}, {\'credit_id\': \'59ac0411c3a3682bf0028966\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431552, \'job\': \'Hairstylist\', \'name\': \'Daina Daigle\', \'profile_path\': None}, {\'credit_id\': \'59ac0504925141072302b8fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1712001, \'job\': \'Makeup Artist\', \'name\': \'Allison Gordin\', \'profile_path\': None}, {\'credit_id\': \'59ac0570c3a3682bf0028aac\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 578725, \'job\': \'Makeup Artist\', \'name\': \'Darryl Lucas\', \'profile_path\': None}, {\'credit_id\': \'59ac05a4925141077e02c97e\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463274, \'job\': \'Makeup Artist\', \'name\': \'Annabelle MacNeal\', \'profile_path\': None}, {\'credit_id\': \'59ac05c6925141076502d106\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881586, \'job\': \'Makeup Artist\', \'name\': \'Marina Savva\', \'profile_path\': None}, {\'credit_id\': \'59ac0615c3a3682c480296aa\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1406267, \'job\': \'Hairstylist\', \'name\': \'Carl G. Variste\', \'profile_path\': None}, {\'credit_id\': \'59ac06ba925141076502d1fa\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1798593, \'job\': \'First Assistant Director\', \'name\': \'Josh King\', \'profile_path\': None}, {\'credit_id\': \'59ac06f1c3a3682c2202aca0\', \'department\': \'Art\', \'gender\': 0, \'id\': 1415083, \'job\': \'Greensman\', \'name\': \'Scott C. Bivona\', \'profile_path\': None}, {\'credit_id\': \'59ac072c925141076502d260\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881587, \'job\': \'Title Designer\', \'name\': \'Eunha Choi\', \'profile_path\': None}, {\'credit_id\': \'59ac077c925141077e02cb62\', \'department\': \'Art\', \'gender\': 0, \'id\': 1585302, \'job\': \'Construction Coordinator\', \'name\': \'Daniel Coe\', \'profile_path\': None}, {\'credit_id\': \'59ac07e0925141078a02d842\', \'department\': \'Art\', \'gender\': 0, \'id\': 1495523, \'job\': \'Set Designer\', \'name\': \'Spencer Davison\', \'profile_path\': None}, {\'credit_id\': \'59ac0862925141072f02cf6f\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881589, \'job\': \'Painter\', \'name\': \'Sonia L. Garcia\', \'profile_path\': None}, {\'credit_id\': \'59ac08e0c3a3682bf0028e51\', \'department\': \'Art\', \'gender\': 0, \'id\': 1424896, \'job\': \'Art Department Coordinator\', \'name\': \'Caleb Guillotte\', \'profile_path\': None}, {\'credit_id\': \'59ac0920c3a3682c2202af36\', \'department\': \'Art\', \'gender\': 0, \'id\': 1393375, \'job\': \'Leadman\', \'name\': "Pat A. O\'Connor", \'profile_path\': None}, {\'credit_id\': \'59ac095592514107af02cc39\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881592, \'job\': \'Set Designer\', \'name\': \'Brendan Turrill\', \'profile_path\': None}, {\'credit_id\': \'59ac0989925141072302bdfa\', \'department\': \'Art\', \'gender\': 2, \'id\': 76497, \'job\': \'Property Master\', \'name\': \'Brook Yeaton\', \'profile_path\': None}, {\'credit_id\': \'59ac0a2cc3a3682c9c02add1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1881596, \'job\': \'Boom Operator\', \'name\': \'Matthew Armstrong\', \'profile_path\': None}, {\'credit_id\': \'59ac0aa8925141072f02d282\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 1558086, \'job\': \'Special Effects Supervisor\', \'name\': \'Matt Kutcher\', \'profile_path\': None}, {\'credit_id\': \'59ac0b2ac3a3682c2202b192\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1558087, \'job\': \'Special Effects Coordinator\', \'name\': \'Eric Roberts\', \'profile_path\': None}, {\'credit_id\': \'59ac0b7ac3a3682c2202b1fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1392098, \'job\': \'Visual Effects Supervisor\', \'name\': \'Rocco Passionino\', \'profile_path\': None}, {\'credit_id\': \'59ac0bbe925141077e02d0c4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1558716, \'job\': \'Visual Effects Coordinator\', \'name\': \'Joseph Payo\', \'profile_path\': None}, {\'credit_id\': \'59ac0bf2c3a3682cc802cefa\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1408784, \'job\': \'Visual Effects Producer\', \'name\': \'Chris Roff\', \'profile_path\': None}, {\'credit_id\': \'59ac0c51c3a3682c48029d99\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1881600, \'job\': \'Best Boy Electric\', \'name\': \'Ulyan Atamanyuk\', \'profile_path\': None}, {\'credit_id\': \'59ac0cbac3a3682c0a02cff6\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881602, \'job\': \'Key Grip\', \'name\': \'Chris Ekstrom\', \'profile_path\': None}, {\'credit_id\': \'59ac0d54925141072f02d5e6\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1484984, \'job\': \'Best Boy Electric\', \'name\': \'Brad Garris\', \'profile_path\': None}, {\'credit_id\': \'59ac0db0925141078a02df86\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881603, \'job\': \'Dolly Grip\', \'name\': \'Kendell Joseph\', \'profile_path\': None}, {\'credit_id\': \'59ac0e5a925141077e02d39f\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1549179, \'job\': \'Dolly Grip\', \'name\': \'Spencer Wilcox\', \'profile_path\': None}, {\'credit_id\': \'59ac0e9f925141079d02bee6\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1552626, \'job\': \'Key Costumer\', \'name\': \'Sarah P. Koeppe\', \'profile_path\': None}, {\'credit_id\': \'59ac0ec1c3a3682bf0029524\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881605, \'job\': \'Seamstress\', \'name\': \'Catherine Rodi\', \'profile_path\': None}, {\'credit_id\': \'59ac0eef925141070702c7ff\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463801, \'job\': \'Seamstress\', \'name\': \'Giselle Spence\', \'profile_path\': None}, {\'credit_id\': \'59ac0f5dc3a3682c4802a0f5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1400837, \'job\': \'Location Manager\', \'name\': \'John A. Johnston\', \'profile_path\': None}, {\'credit_id\': \'59ac0ff2c3a3682c4802a196\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1844322, \'job\': \'Production Controller\', \'name\': \'Gail Marks\', \'profile_path\': None}]'

In [8]:
crew_list = eval(imdb_df.loc[0, 'crew'])

In [9]:
crew_list

[{'credit_id': '59ac067c92514107af02c8c8',
  'department': 'Directing',
  'gender': 0,
  'id': 1449071,
  'job': 'First Assistant Director',
  'name': 'Kelly Cantley',
  'profile_path': None},
 {'credit_id': '52fe4ee7c3a36847f82afad7',
  'department': 'Directing',
  'gender': 2,
  'id': 3227,
  'job': 'Director',
  'name': 'Steve Pink',
  'profile_path': '/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg'},
 {'credit_id': '5524ed25c3a3687ded000d88',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Writer',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed2d925141720c001128',
  'department': 'Writing',
  'gender': 2,
  'id': 347335,
  'job': 'Characters',
  'name': 'Josh Heald',
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'credit_id': '5524ed3d92514166c1004a5d',
  'department': 'Production',
  'gender': 2,
  'id': 57822,
  'job': 'Producer',
  'name': 'Andrew Panay',
  'profile_path': None},
 {'credit_id': '5524ed4bc3a3687df3000dd2',
  'department': 'Production',
  'gender': 0,
  'id': 1451395,
  'job': 'Associate Producer',
  'name': 'Adam Blum',
  'profile_path': None},
 {'credit_id': '5524ed5a925141720c00112c',
  'department': 'Production',
  'gender': 2,
  'id': 52997,
  'job': 'Executive Producer',
  'name': 'Rob Corddry',
  'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'},
 {'credit_id': '5524ed85c3a3687e0e000f56',
  'department': 'Production',
  'gender': 0,
  'id': 62807,
  'job': 'Executive Producer',
  'name': 'Ben Ormand',
  'profile_path': None},
 {'credit_id': '5524ed9fc3a3687e0e000f59',
  'department': 'Sound',
  'gender': 2,
  'id': 23486,
  'job': 'Original Music Composer',
  'name': 'Christophe Beck',
  'profile_path': '/2fnJUmCk6IEpVIptpYaUk31epHx.jpg'},
 {'credit_id': '5524eda6c3a3687e03000d28',
  'department': 'Camera',
  'gender': 2,
  'id': 6117,
  'job': 'Director of Photography',
  'name': 'Declan Quinn',
  'profile_path': None},
 {'credit_id': '5524edb4925141720c00113d',
  'department': 'Editing',
  'gender': 0,
  'id': 1451396,
  'job': 'Editor',
  'name': 'Jamie Gross',
  'profile_path': None},
 {'credit_id': '5524edc1925141727600102e',
  'department': 'Production',
  'gender': 0,
  'id': 22219,
  'job': 'Casting',
  'name': 'Susie Farris',
  'profile_path': None},
 {'credit_id': '5524edd192514171cb008257',
  'department': 'Art',
  'gender': 0,
  'id': 1002643,
  'job': 'Production Design',
  'name': 'Ryan Berg',
  'profile_path': None},
 {'credit_id': '555ad9be9251411e5b00d485',
  'department': 'Production',
  'gender': 2,
  'id': 57431,
  'job': 'Executive Producer',
  'name': 'Matt Moore',
  'profile_path': None},
 {'credit_id': '5677e93bc3a36816890087dc',
  'department': 'Directing',
  'gender': 0,
  'id': 1551818,
  'job': 'Script Supervisor',
  'name': 'Nicole Garcea',
  'profile_path': None},
 {'credit_id': '5677e96a92514179e10093d0',
  'department': 'Production',
  'gender': 0,
  'id': 1551819,
  'job': 'Production Coordinator',
  'name': 'Jason Salzman',
  'profile_path': None},
 {'credit_id': '5677e98492514179d2008cd9',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1422996,
  'job': 'Costume Design',
  'name': 'Carol Cutshall',
  'profile_path': None},
 {'credit_id': '5677e9d5c3a368168e009414',
  'department': 'Art',
  'gender': 2,
  'id': 500199,
  'job': 'Set Decoration',
  'name': 'Tim Cohn',
  'profile_path': None},
 {'credit_id': '5677f89d9251417845001a61',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1527917,
  'job': 'Hair Department Head',
  'name': 'Voni Hinkle',
  'profile_path': None},
 {'credit_id': '5677f8b392514179dd0089fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431554,
  'job': 'Makeup Department Head',
  'name': 'Remi Savva',
  'profile_path': None},
 {'credit_id': '5677f8d1c3a3681689008a4b',
  'department': 'Art',
  'gender': 0,
  'id': 66495,
  'job': 'Art Direction',
  'name': 'Jason Baldwin Stewart',
  'profile_path': None},
 {'credit_id': '5677f8eec3a3681685008dd5',
  'department': 'Production',
  'gender': 0,
  'id': 1412466,
  'job': 'Production Supervisor',
  'name': 'Korey Budd',
  'profile_path': None},
 {'credit_id': '5677f90a9251417845001a7d',
  'department': 'Sound',
  'gender': 0,
  'id': 1401562,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary C. Bourgeois',
  'profile_path': None},
 {'credit_id': '5677f91e9251417845001a84',
  'department': 'Sound',
  'gender': 0,
  'id': 1396794,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gabriel J. Serrano',
  'profile_path': None},
 {'credit_id': '5677f938c3a3681680008dd4',
  'department': 'Editing',
  'gender': 0,
  'id': 13168,
  'job': 'Dialogue Editor',
  'name': 'Victoria Rose Sampson',
  'profile_path': None},
 {'credit_id': '5677f94e92514179dd008a1f',
  'department': 'Sound',
  'gender': 0,
  'id': 1551839,
  'job': 'Production Sound Mixer',
  'name': 'Michael B. Koff',
  'profile_path': None},
 {'credit_id': '5677f968c3a368168e009698',
  'department': 'Sound',
  'gender': 0,
  'id': 113052,
  'job': 'Sound Effects Editor',
  'name': 'Randall Guth',
  'profile_path': None},
 {'credit_id': '5677f98dc3a3681685008e02',
  'department': 'Crew',
  'gender': 2,
  'id': 1442535,
  'job': 'Stunt Coordinator',
  'name': 'Chuck Picerni Jr.',
  'profile_path': '/yE5QtXUzcrnCzMRctZL8F5g842B.jpg'},
 {'credit_id': '5677f9a692514179dd008a49',
  'department': 'Camera',
  'gender': 0,
  'id': 1437305,
  'job': 'Camera Operator',
  'name': 'Michael Applebaum',
  'profile_path': None},
 {'credit_id': '5677f9bd9251417845001aae',
  'department': 'Camera',
  'gender': 0,
  'id': 1401765,
  'job': 'Still Photographer',
  'name': 'Steve Dietl',
  'profile_path': None},
 {'credit_id': '5677f9e592514179e7008bf7',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402721,
  'job': 'Rigging Gaffer',
  'name': 'Tarik Naim Alherimi',
  'profile_path': None},
 {'credit_id': '5677f9f4c3a368167c0090ed',
  'department': 'Lighting',
  'gender': 0,
  'id': 1402719,
  'job': 'Gaffer',
  'name': 'Paul Olinde',
  'profile_path': None},
 {'credit_id': '5677fa21c3a368168e0096ca',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Supervisor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa31c3a3681680008e04',
  'department': 'Sound',
  'gender': 0,
  'id': 1551841,
  'job': 'Music Editor',
  'name': 'Matt Fausak',
  'profile_path': None},
 {'credit_id': '5677fa4392514179dd008a76',
  'department': 'Sound',
  'gender': 0,
  'id': 1551840,
  'job': 'Music Editor',
  'name': 'Steve Griffen',
  'profile_path': None},
 {'credit_id': '5677fa609251417845001acf',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1403416,
  'job': 'Costume Supervisor',
  'name': 'Shonta T. McCray',
  'profile_path': None},
 {'credit_id': '5677fa8492514179d2008fb3',
  'department': 'Camera',
  'gender': 0,
  'id': 1425831,
  'job': 'Steadicam Operator',
  'name': 'Mark Karavite',
  'profile_path': None},
 {'credit_id': '5677fab2c3a3681689008ac3',
  'department': 'Camera',
  'gender': 0,
  'id': 1551842,
  'job': 'First Assistant Camera',
  'name': 'Joe Waistell',
  'profile_path': None},
 {'credit_id': '5677faecc3a368168e0096fe',
  'department': 'Sound',
  'gender': 0,
  'id': 58362,
  'job': 'Supervising Sound Editor',
  'name': 'Michael Hilkene',
  'profile_path': None},
 {'credit_id': '59ac0368c3a3682c0a02c484',
  'department': 'Crew',
  'gender': 0,
  'id': 1881584,
  'job': 'Additional Writing',
  'name': 'John Karnay',
  'profile_path': None},
 {'credit_id': '59ac0411c3a3682bf0028966',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1431552,
  'job': 'Hairstylist',
  'name': 'Daina Daigle',
  'profile_path': None},
 {'credit_id': '59ac0504925141072302b8fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1712001,
  'job': 'Makeup Artist',
  'name': 'Allison Gordin',
  'profile_path': None},
 {'credit_id': '59ac0570c3a3682bf0028aac',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 578725,
  'job': 'Makeup Artist',
  'name': 'Darryl Lucas',
  'profile_path': None},
 {'credit_id': '59ac05a4925141077e02c97e',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463274,
  'job': 'Makeup Artist',
  'name': 'Annabelle MacNeal',
  'profile_path': None},
 {'credit_id': '59ac05c6925141076502d106',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881586,
  'job': 'Makeup Artist',
  'name': 'Marina Savva',
  'profile_path': None},
 {'credit_id': '59ac0615c3a3682c480296aa',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1406267,
  'job': 'Hairstylist',
  'name': 'Carl G. Variste',
  'profile_path': None},
 {'credit_id': '59ac06ba925141076502d1fa',
  'department': 'Directing',
  'gender': 0,
  'id': 1798593,
  'job': 'First Assistant Director',
  'name': 'Josh King',
  'profile_path': None},
 {'credit_id': '59ac06f1c3a3682c2202aca0',
  'department': 'Art',
  'gender': 0,
  'id': 1415083,
  'job': 'Greensman',
  'name': 'Scott C. Bivona',
  'profile_path': None},
 {'credit_id': '59ac072c925141076502d260',
  'department': 'Art',
  'gender': 0,
  'id': 1881587,
  'job': 'Title Designer',
  'name': 'Eunha Choi',
  'profile_path': None},
 {'credit_id': '59ac077c925141077e02cb62',
  'department': 'Art',
  'gender': 0,
  'id': 1585302,
  'job': 'Construction Coordinator',
  'name': 'Daniel Coe',
  'profile_path': None},
 {'credit_id': '59ac07e0925141078a02d842',
  'department': 'Art',
  'gender': 0,
  'id': 1495523,
  'job': 'Set Designer',
  'name': 'Spencer Davison',
  'profile_path': None},
 {'credit_id': '59ac0862925141072f02cf6f',
  'department': 'Art',
  'gender': 0,
  'id': 1881589,
  'job': 'Painter',
  'name': 'Sonia L. Garcia',
  'profile_path': None},
 {'credit_id': '59ac08e0c3a3682bf0028e51',
  'department': 'Art',
  'gender': 0,
  'id': 1424896,
  'job': 'Art Department Coordinator',
  'name': 'Caleb Guillotte',
  'profile_path': None},
 {'credit_id': '59ac0920c3a3682c2202af36',
  'department': 'Art',
  'gender': 0,
  'id': 1393375,
  'job': 'Leadman',
  'name': "Pat A. O'Connor",
  'profile_path': None},
 {'credit_id': '59ac095592514107af02cc39',
  'department': 'Art',
  'gender': 0,
  'id': 1881592,
  'job': 'Set Designer',
  'name': 'Brendan Turrill',
  'profile_path': None},
 {'credit_id': '59ac0989925141072302bdfa',
  'department': 'Art',
  'gender': 2,
  'id': 76497,
  'job': 'Property Master',
  'name': 'Brook Yeaton',
  'profile_path': None},
 {'credit_id': '59ac0a2cc3a3682c9c02add1',
  'department': 'Sound',
  'gender': 0,
  'id': 1881596,
  'job': 'Boom Operator',
  'name': 'Matthew Armstrong',
  'profile_path': None},
 {'credit_id': '59ac0aa8925141072f02d282',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 1558086,
  'job': 'Special Effects Supervisor',
  'name': 'Matt Kutcher',
  'profile_path': None},
 {'credit_id': '59ac0b2ac3a3682c2202b192',
  'department': 'Crew',
  'gender': 2,
  'id': 1558087,
  'job': 'Special Effects Coordinator',
  'name': 'Eric Roberts',
  'profile_path': None},
 {'credit_id': '59ac0b7ac3a3682c2202b1fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1392098,
  'job': 'Visual Effects Supervisor',
  'name': 'Rocco Passionino',
  'profile_path': None},
 {'credit_id': '59ac0bbe925141077e02d0c4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1558716,
  'job': 'Visual Effects Coordinator',
  'name': 'Joseph Payo',
  'profile_path': None},
 {'credit_id': '59ac0bf2c3a3682cc802cefa',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1408784,
  'job': 'Visual Effects Producer',
  'name': 'Chris Roff',
  'profile_path': None},
 {'credit_id': '59ac0c51c3a3682c48029d99',
  'department': 'Lighting',
  'gender': 0,
  'id': 1881600,
  'job': 'Best Boy Electric',
  'name': 'Ulyan Atamanyuk',
  'profile_path': None},
 {'credit_id': '59ac0cbac3a3682c0a02cff6',
  'department': 'Camera',
  'gender': 0,
  'id': 1881602,
  'job': 'Key Grip',
  'name': 'Chris Ekstrom',
  'profile_path': None},
 {'credit_id': '59ac0d54925141072f02d5e6',
  'department': 'Lighting',
  'gender': 0,
  'id': 1484984,
  'job': 'Best Boy Electric',
  'name': 'Brad Garris',
  'profile_path': None},
 {'credit_id': '59ac0db0925141078a02df86',
  'department': 'Camera',
  'gender': 0,
  'id': 1881603,
  'job': 'Dolly Grip',
  'name': 'Kendell Joseph',
  'profile_path': None},
 {'credit_id': '59ac0e5a925141077e02d39f',
  'department': 'Camera',
  'gender': 0,
  'id': 1549179,
  'job': 'Dolly Grip',
  'name': 'Spencer Wilcox',
  'profile_path': None},
 {'credit_id': '59ac0e9f925141079d02bee6',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1552626,
  'job': 'Key Costumer',
  'name': 'Sarah P. Koeppe',
  'profile_path': None},
 {'credit_id': '59ac0ec1c3a3682bf0029524',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1881605,
  'job': 'Seamstress',
  'name': 'Catherine Rodi',
  'profile_path': None},
 {'credit_id': '59ac0eef925141070702c7ff',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1463801,
  'job': 'Seamstress',
  'name': 'Giselle Spence',
  'profile_path': None},
 {'credit_id': '59ac0f5dc3a3682c4802a0f5',
  'department': 'Production',
  'gender': 0,
  'id': 1400837,
  'job': 'Location Manager',
  'name': 'John A. Johnston',
  'profile_path': None},
 {'credit_id': '59ac0ff2c3a3682c4802a196',
  'department': 'Crew',
  'gender': 0,
  'id': 1844322,
  'job': 'Production Controller',
  'name': 'Gail Marks',
  'profile_path': None}]

In [10]:
len(crew_list)

72

In [11]:
imdb_df.loc[0, 'genres']

"[{'id': 35, 'name': 'Comedy'}]"

In [12]:
eval(imdb_df.loc[0, 'genres'])

[{'id': 35, 'name': 'Comedy'}]

### Converting the string values to proper lists and we will apply this transformation to three columns : 
genres, cast and crew

In [13]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [14]:
columns_to_keep = ['budget', 'genres', 'imdb_id', 'original_language', 'original_title', 'revenue', 'cast', 'crew']

In [15]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [16]:
def convert_string_to_list(str):
    return eval(str)

# Apply the above function to three columns

In [17]:
imdb_df.loc[~imdb_df['genres'].isna(),'genres'] = imdb_df.loc[~imdb_df['genres'].isna(),'genres'].apply(convert_string_to_list)

In [18]:
imdb_df.loc[0, 'genres']

[{'id': 35, 'name': 'Comedy'}]

In [19]:
imdb_df.loc[~imdb_df['cast'].isna(),'cast'] = imdb_df.loc[~imdb_df['cast'].isna(),'cast'].apply(convert_string_to_list)

In [20]:
imdb_df.loc[0, 'cast']

[{'cast_id': 4,
  'character': 'Lou',
  'credit_id': '52fe4ee7c3a36847f82afae7',
  'gender': 2,
  'id': 52997,
  'name': 'Rob Corddry',
  'order': 0,
  'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'},
 {'cast_id': 5,
  'character': 'Nick',
  'credit_id': '52fe4ee7c3a36847f82afaeb',
  'gender': 2,
  'id': 64342,
  'name': 'Craig Robinson',
  'order': 1,
  'profile_path': '/tVaRMkJXOEVhYxtnnFuhqW0Rjzz.jpg'},
 {'cast_id': 6,
  'character': 'Jacob',
  'credit_id': '52fe4ee7c3a36847f82afaef',
  'gender': 2,
  'id': 54729,
  'name': 'Clark Duke',
  'order': 2,
  'profile_path': '/oNzK0umwm5Wn0wyEbOy6TVJCSBn.jpg'},
 {'cast_id': 7,
  'character': 'Adam Jr.',
  'credit_id': '52fe4ee7c3a36847f82afaf3',
  'gender': 2,
  'id': 36801,
  'name': 'Adam Scott',
  'order': 3,
  'profile_path': '/5gb65xz8bzd42yjMAl4zwo4cvKw.jpg'},
 {'cast_id': 8,
  'character': 'Hot Tub Repairman',
  'credit_id': '52fe4ee7c3a36847f82afaf7',
  'gender': 2,
  'id': 54812,
  'name': 'Chevy Chase',
  'order': 4,
  'profile_path': '/svjpyYtPwtjvRxX9IZnOmOkhDOt.jpg'},
 {'cast_id': 9,
  'character': 'Jill',
  'credit_id': '52fe4ee7c3a36847f82afafb',
  'gender': 1,
  'id': 94098,
  'name': 'Gillian Jacobs',
  'order': 5,
  'profile_path': '/rBnhe5vhNPnhRUdtYahBWx90fJM.jpg'},
 {'cast_id': 10,
  'character': 'Sophie',
  'credit_id': '52fe4ee7c3a36847f82afaff',
  'gender': 1,
  'id': 1159009,
  'name': 'Bianca Haase',
  'order': 6,
  'profile_path': '/4x3nbtD8q8phAJPmoGWXPvz0iM.jpg'},
 {'cast_id': 11,
  'character': 'Kelly',
  'credit_id': '5524ec51c3a3687df3000dbb',
  'gender': 1,
  'id': 86624,
  'name': 'Collette Wolfe',
  'order': 7,
  'profile_path': '/aSD4h5379b2eEw3bLou9ByLimmq.jpg'},
 {'cast_id': 13,
  'character': 'Brad',
  'credit_id': '5524ec8ec3a3687ded000d72',
  'gender': 2,
  'id': 466505,
  'name': 'Kumail Nanjiani',
  'order': 9,
  'profile_path': '/x4nAztHY72SVciRfxEsbhIVTsIu.jpg'},
 {'cast_id': 14,
  'character': 'Courtney',
  'credit_id': '5524ec9bc3a3687df8000d13',
  'gender': 1,
  'id': 70776,
  'name': 'Kellee Stewart',
  'order': 10,
  'profile_path': '/w3xmsEPmJc1Cf0dQ4aIn8YmlHbk.jpg'},
 {'cast_id': 15,
  'character': 'Terry',
  'credit_id': '5524eca892514171cb008237',
  'gender': 2,
  'id': 347335,
  'name': 'Josh Heald',
  'order': 11,
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'cast_id': 16,
  'character': 'Susan',
  'credit_id': '5524ecb7925141720c001116',
  'gender': 0,
  'id': 1451392,
  'name': 'Gretchen Koerner',
  'order': 12,
  'profile_path': '/muULPexCTJGyJba4yKzxronpD50.jpg'},
 {'cast_id': 17,
  'character': 'Herself',
  'credit_id': '5524ecc3c3a3687ded000d74',
  'gender': 1,
  'id': 98879,
  'name': 'Lisa Loeb',
  'order': 13,
  'profile_path': '/bGqg58ca0bZR38z9HliUMmeNGE.jpg'},
 {'cast_id': 18,
  'character': 'Herself',
  'credit_id': '5524ecd3c3a3687e11000ed3',
  'gender': 1,
  'id': 1394648,
  'name': 'Jessica Williams',
  'order': 14,
  'profile_path': '/A4syKjkcYB92wLEhH0c0hC3BCpz.jpg'},
 {'cast_id': 19,
  'character': 'Himself',
  'credit_id': '5524ece6925141718d001009',
  'gender': 0,
  'id': 1451393,
  'name': 'Bruce Buffer',
  'order': 15,
  'profile_path': None},
 {'cast_id': 20,
  'character': 'Shot Girl',
  'credit_id': '5524ecf5c3a3687e08000dc2',
  'gender': 0,
  'id': 1451394,
  'name': 'Mariana Paola Vicente',
  'order': 16,
  'profile_path': '/ckPllza8624UHWGHCbLShkLxCD1.jpg'},
 {'cast_id': 33,
  'character': 'Choozy Doozy Host',
  'credit_id': '555844da9251412afe0013a9',
  'gender': 2,
  'id': 2224,
  'name': 'Christian Slater',
  'order': 17,
  'profile_path': '/3ElLWjnvchMS6Q4cIQOK8QNAoMG.jpg'},
 {'cast_id': 35,
  'character': 'Gary Winkle',
  'credit_id': '55872027c3a3683853005074',
  'gender': 0,
  'id': 185805,
  'name': 'Jason Jones',
  'order': 18,
  'profile_path': '/aIoCw6vo8AGMdsQRAI5g2t0yJT3.jpg'},
 {'cast_id': 36,
  'character': 'Bridesmaid',
  'credit_id': '55efe971c3a368090c00cd1b',
  'gender': 0,
  'id': 1507448,
  'name': 'Olivia Jordan',
  'order': 19,
  'profile_path': '/szMukAEiIDeasel0lvyaeyKuych.jpg'},
 {'cast_id': 37,
  'character': 'Christine',
  'credit_id': '55efe980c3a36871bf008176',
  'gender': 1,
  'id': 1334091,
  'name': 'Christine Bently',
  'order': 20,
  'profile_path': '/oUZltnGa55OXE52hfyPTfCshuNy.jpg'},
 {'cast_id': 38,
  'character': 'Excited Girl',
  'credit_id': '55efe98e9251413e3201d316',
  'gender': 0,
  'id': 557803,
  'name': 'Stacey Asaro',
  'order': 21,
  'profile_path': '/qTPdlr1dXf3kNdyHuDsgtGC0HCC.jpg'},
 {'cast_id': 64,
  'character': 'Adam (uncredited)',
  'credit_id': '58f2135ac3a3682e95008b91',
  'gender': 2,
  'id': 3036,
  'name': 'John Cusack',
  'order': 22,
  'profile_path': '/uKydQYuZ9TnCzvbQLtj6j98vWAT.jpg'},
 {'cast_id': 65,
  'character': 'J-Bird',
  'credit_id': '59ac0240c3a3682cc802c399',
  'gender': 2,
  'id': 59256,
  'name': 'Adam Herschman',
  'order': 23,
  'profile_path': '/wZMwiuX1DslF6hDS50z9OTN6z1X.jpg'},
 {'cast_id': 66,
  'character': 'Bridesmaid',
  'credit_id': '59ac02cd925141079d02b1b4',
  'gender': 1,
  'id': 129714,
  'name': 'Kisha Sierra',
  'order': 24,
  'profile_path': None}]

In [21]:
imdb_df.loc[~imdb_df['crew'].isna(),'crew'] = imdb_df.loc[~imdb_df['crew'].isna(),'crew'].apply(convert_string_to_list)

In [22]:
#creating a copy of imdb_df
imdb_new_df = imdb_df.copy()

In [23]:
imdb_new_df[imdb_df['genres'].isna()]

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
470,471,NaN,2000000,NaN,NaN,tt0349159,en,"The Book of Mormon Movie, Volume 1: The Journey",The story of Lehi and his wife Sariah and thei...,0.079856,...,9/12/03,120.0,NaN,Released,"2600 years ago, one family began a remarkable ...","The Book of Mormon Movie, Volume 1: The Journey",NaN,"[{'cast_id': 1, 'character': 'Sam', 'credit_id...",NaN,1672730
1622,1623,NaN,400000,NaN,NaN,tt0261755,en,Jackpot,"Sunny Holiday, an aspiring singing star, aband...",0.218588,...,7/26/01,97.0,NaN,Released,NaN,Jackpot,NaN,"[{'cast_id': 4, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4d3c9251416c9110f319', 'de...",43719
1814,1815,NaN,2700000,NaN,NaN,tt0110289,it,Курочка Ряба,In Soviet days an old peasant woman's hen begi...,0.677253,...,10/1/94,117.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,"Ryaba, My Chicken",NaN,[],"[{'credit_id': '52fe4c139251416c910eeee3', 'de...",4635143
1819,1820,NaN,0,NaN,NaN,tt0352622,ru,Небо. Самолёт. Девушка.,"The tale of a brief, life-altering love affair...",0.518078,...,9/2/02,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Sky. Plane. Girl.,"[{'id': 187056, 'name': 'woman director'}]","[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4728c3a368484e0b7f53', 'de...",314195
2423,2424,NaN,500000,NaN,NaN,tt0984177,en,Amarkalam,Vasu is a tough street crook who lives at a mo...,0.493342,...,8/25/99,157.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Amarkalam,NaN,"[{'cast_id': 1, 'character': 'Vaasu', 'credit_...","[{'credit_id': '53b42af80e0a26598c00cea3', 'de...",500000
2686,2687,NaN,0,NaN,NaN,tt0833448,ru,Лифт,A psychological thriller. One quite ordinary s...,0.158207,...,7/1/06,88.0,NaN,Released,NaN,Lift,NaN,[],"[{'credit_id': '57b8a5d19251411bc6000587', 'de...",123182
2900,2901,NaN,200000,NaN,http://ritaslastfairytale.ru/,tt1766044,en,Poslednyaya skazka Rity,The film speaks about universal themes of love...,0.560685,...,11/1/12,100.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Rita's Last Fairy Tale,"[{'id': 187056, 'name': 'woman director'}]","[{'cast_id': 3, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4ab89251416c750ebaab', 'de...",486937

## 1.  Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.

In [24]:
imdb_new_df.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [25]:
# Replace extremely low value of budget and revenue with the median value
imdb_new_df.loc[imdb_new_df['budget'] < 1000, 'budget'] = imdb_new_df.loc[imdb_new_df['budget'] >= 1000, 'budget'].median()
imdb_new_df.loc[imdb_new_df['revenue'] < 1000, 'revenue'] = imdb_new_df.loc[imdb_new_df['revenue'] >= 1000, 'revenue'].median()

In [26]:
imdb_new_df.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.708250e+07     8.463274   107.856571  6.705811e+07
std     866.169729  3.492773e+07    12.104000    22.086434  1.373917e+08
min       1.000000  2.500000e+03     0.000001     0.000000  1.404000e+03
25%     750.750000  1.000000e+07     4.018053    94.000000  2.947600e+06
50%    1500.500000  1.645000e+07     7.374861   104.000000  1.748753e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

### Profit can be calculated as the difference between budget and revenue

In [27]:
imdb_new_df['profit'] = imdb_new_df['revenue'] - imdb_new_df['budget']

In [28]:
imdb_new_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000
4,5,NaN,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,-12526030

In [29]:
# Calculate maximum profit
max_profit = imdb_new_df['profit'].max()

In [30]:
imdb_new_df[imdb_new_df['profit'] == max_profit]

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit
1761,1762,"[{'id': 9485, 'name': 'The Fast and the Furiou...",190000000,"[{'id': 28, 'name': 'Action'}]",http://www.furious7.com/,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,27.275687,...,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Vengeance Hits Home,Furious 7,"[{'id': 830, 'name': 'car race'}, {'id': 3428,...","[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de...",1506249360,1316249360

In [31]:
max_profit_movie_df = imdb_new_df[imdb_new_df['profit'] == max_profit]

In [32]:
# Creating the crew list : List of crew member dictionaries
crew_list = max_profit_movie_df.iloc[0]['crew']

In [33]:
# Get the name of producer and director
producer_list = []
director_list = []
for elem in crew_list:
    if elem['job'] == 'Producer':
        producer_list.append(elem['name'])
        #print(f"The producer for the movie is {elem['name']}"")
    if elem['job'] == 'Director':
        director_list.append(elem['name'])
        #print(f"The director for the movie is {elem['name']}"")

In [34]:
producer_list, director_list

(['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell'],
 ['James Wan'])

### Get the actors for the highest grossing movie

In [35]:
# Get the cast list
cast_list = max_profit_movie_df.iloc[0]['cast']

In [36]:
cast_list

[{'cast_id': 17,
  'character': 'Dominic Toretto',
  'credit_id': '5431dfd10e0a265915002c34',
  'gender': 2,
  'id': 12835,
  'name': 'Vin Diesel',
  'order': 0,
  'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'},
 {'cast_id': 19,
  'character': "Brian O'Conner",
  'credit_id': '5431dfe4c3a3681143002b98',
  'gender': 2,
  'id': 8167,
  'name': 'Paul Walker',
  'order': 1,
  'profile_path': '/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg'},
 {'cast_id': 18,
  'character': 'Hobbs',
  'credit_id': '5431dfdbc3a36831a6004376',
  'gender': 2,
  'id': 18918,
  'name': 'Dwayne Johnson',
  'order': 2,
  'profile_path': '/kuqFzlYMc2IrsOyPznMd1FroeGq.jpg'},
 {'cast_id': 20,
  'character': 'Letty',
  'credit_id': '5431dfeec3a36811ef002c75',
  'gender': 1,
  'id': 17647,
  'name': 'Michelle Rodriguez',
  'order': 3,
  'profile_path': '/v37VK0MNuRuJOCKPKJcZAJXRA5r.jpg'},
 {'cast_id': 28,
  'character': 'Roman',
  'credit_id': '5431e0310e0a2656e2002c95',
  'gender': 2,
  'id': 8169,
  'name': 'Tyrese Gibson',
  'order': 4,
  'profile_path': '/a3tyF7QXgeEH0QuEuIzNZZ8oLNS.jpg'},
 {'cast_id': 31,
  'character': "Tej (as Chris 'Ludacris' Bridges)",
  'credit_id': '5431e0520e0a2658b2002c3c',
  'gender': 2,
  'id': 8171,
  'name': 'Ludacris',
  'order': 5,
  'profile_path': '/xLfq9wFO6dtYuUK96hbJ8I8EKFw.jpg'},
 {'cast_id': 24,
  'character': 'Mia',
  'credit_id': '5431e00dc3a36811ef002c7e',
  'gender': 1,
  'id': 22123,
  'name': 'Jordana Brewster',
  'order': 6,
  'profile_path': '/dORwXZWWmDgG66I5i2Fnr27g3fO.jpg'},
 {'cast_id': 25,
  'character': 'Jakande',
  'credit_id': '5431e015c3a36831a90040da',
  'gender': 2,
  'id': 938,
  'name': 'Djimon Hounsou',
  'order': 7,
  'profile_path': '/y22Pb0XAVqC0l7ukzKKtXzPEuHk.jpg'},
 {'cast_id': 30,
  'character': 'Kiet',
  'credit_id': '5431e04a0e0a26464300432c',
  'gender': 2,
  'id': 57207,
  'name': 'Tony Jaa',
  'order': 8,
  'profile_path': '/qq0uXKe3aKaAE04QQ0BvbbFFufF.jpg'},
 {'cast_id': 21,
  'character': 'Kara',
  'credit_id': '5431dff40e0a2646490043fa',
  'gender': 0,
  'id': 997887,
  'name': 'Ronda Rousey',
  'order': 9,
  'profile_path': '/5eGHTV1bLOdajC4Z3pnIdSiptSG.jpg'},
 {'cast_id': 27,
  'character': 'Ramsey',
  'credit_id': '5431e026c3a36831ac004333',
  'gender': 1,
  'id': 1251069,
  'name': 'Nathalie Emmanuel',
  'order': 10,
  'profile_path': '/yYiJwunH04doOZJgMu7qTZyrRYJ.jpg'},
 {'cast_id': 22,
  'character': 'Mr. Nobody',
  'credit_id': '5431dffa0e0a265872002bdf',
  'gender': 2,
  'id': 6856,
  'name': 'Kurt Russell',
  'order': 11,
  'profile_path': '/rlnFuNkisPpuypARI7QaGCmOY6V.jpg'},
 {'cast_id': 16,
  'character': 'Deckard Shaw',
  'credit_id': '5431dfc70e0a265872002bd5',
  'gender': 2,
  'id': 976,
  'name': 'Jason Statham',
  'order': 12,
  'profile_path': '/PhWiWgasncGWD9LdbsGcmxkV4r.jpg'},
 {'cast_id': 39,
  'character': 'Han',
  'credit_id': '554fa75f92514110bd002a7d',
  'gender': 2,
  'id': 61697,
  'name': 'Sung Kang',
  'order': 13,
  'profile_path': '/fqt53KEfHWsRDcbV2YAY2lKlKrM.jpg'},
 {'cast_id': 38,
  'character': 'Gisele',
  'credit_id': '554fa7439251413e40005aa1',
  'gender': 1,
  'id': 90633,
  'name': 'Gal Gadot',
  'order': 14,
  'profile_path': '/34kHAyBaBhq2kUrmhM15paEBuuI.jpg'},
 {'cast_id': 15,
  'character': 'Sean Boswell',
  'credit_id': '5431dfbb0e0a265915002c2d',
  'gender': 2,
  'id': 155,
  'name': 'Lucas Black',
  'order': 15,
  'profile_path': '/41qZZc6vRVm5ZOoXWfEf5NGoIZR.jpg'},
 {'cast_id': 23,
  'character': 'Elena',
  'credit_id': '5431e003c3a36811ef002c7c',
  'gender': 1,
  'id': 73269,
  'name': 'Elsa Pataky',
  'order': 16,
  'profile_path': '/c1km2kqasJT9GTISMbBZpp3jbuR.jpg'},
 {'cast_id': 35,
  'character': 'Hector',
  'credit_id': '554fa677c3a3687b7d002468',
  'gender': 2,
  'id': 53252,
  'name': 'Noel Gugliemi',
  'order': 17,
  'profile_path': '/mI5urNyZJAzIGxelTjBkm624DkB.jpg'},
 {'cast_id': 37,
  'character': 'Sheppard',
  'credit_id': '554fa6f19251413ea10004fc',
  'gender': 2,
  'id': 222906,
  'name': 'John Brotherton',
  'order': 18,
  'profile_path': '/sE73Zs4q8rugmrFnn9jv2wAEVrI.jpg'},
 {'cast_id': 34,
  'character': 'Owen Shaw',
  'credit_id': '554fa651c3a3681870005275',
  'gender': 2,
  'id': 114019,
  'name': 'Luke Evans',
  'order': 19,
  'profile_path': '/1d31uDYub8TaLOPWfgX78OotduD.jpg'},
 {'cast_id': 36,
  'character': 'Safar',
  'credit_id': '554fa6d7c3a3685221000283',
  'gender': 2,
  'id': 492791,
  'name': 'Ali Fazal',
  'order': 20,
  'profile_path': '/AmT132VCz3InJBAQQPJnqqgsQsB.jpg'},
 {'cast_id': 145,
  'character': 'Jack',
  'credit_id': '59a8b72092514157c601fb92',
  'gender': 0,
  'id': 1880145,
  'name': 'Miller Kimsey',
  'order': 21,
  'profile_path': None},
 {'cast_id': 146,
  'character': 'Jack',
  'credit_id': '59a8b72b925141579d020797',
  'gender': 0,
  'id': 1880146,
  'name': 'Charlie Kimsey',
  'order': 22,
  'profile_path': None},
 {'cast_id': 133,
  'character': 'Samantha Hobbs',
  'credit_id': '56417cfec3a3685be2001846',
  'gender': 1,
  'id': 1533850,
  'name': 'Eden Estrella',
  'order': 23,
  'profile_path': '/xxzcCrgD38jOyCRlbBA5ksfrN14.jpg'},
 {'cast_id': 147,
  'character': 'Letty Fan',
  'credit_id': '59a8b787c3a36874d5007d12',
  'gender': 2,
  'id': 1534800,
  'name': 'Gentry White',
  'order': 24,
  'profile_path': '/dzu9JUDSHDXrnit7ZlOnJuRJj1X.jpg'},
 {'cast_id': 26,
  'character': 'Female Racer',
  'credit_id': '5431e01c0e0a265834002c97',
  'gender': 1,
  'id': 1364893,
  'name': 'Iggy Azalea',
  'order': 25,
  'profile_path': '/KG5skDx5WeGDijkUUQnmOP0crG.jpg'},
 {'cast_id': 148,
  'character': 'Male Racer',
  'credit_id': '59a8b7afc3a3683d0701b1ad',
  'gender': 0,
  'id': 1161711,
  'name': 'Jon Lee Brody',
  'order': 26,
  'profile_path': '/u1agQE1nYgt2LOijksYJMPYxpKh.jpg'},
 {'cast_id': 135,
  'character': 'Race Starter',
  'credit_id': '56c259c89251414a9b000865',
  'gender': 1,
  'id': 1578220,
  'name': 'Levy Tran',
  'order': 27,
  'profile_path': '/iKcRuLRwmcuoD43E4X0YlYquYGD.jpg'},
 {'cast_id': 132,
  'character': 'Hot Teacher',
  'credit_id': '56417cc592514128af001862',
  'gender': 0,
  'id': 118593,
  'name': 'Anna Colwell',
  'order': 28,
  'profile_path': '/qerkK7Z26GttfJ8Sq6xMwhkYLq3.jpg'},
 {'cast_id': 149,
  'character': 'Doctor',
  'credit_id': '59a8b80e92514157ab0206fc',
  'gender': 0,
  'id': 1880147,
  'name': 'Viktor Hernandez',
  'order': 29,
  'profile_path': None},
 {'cast_id': 150,
  'character': 'Priest',
  'credit_id': '59a8b84092514157c601fce8',
  'gender': 2,
  'id': 80619,
  'name': 'Steve Coulter',
  'order': 30,
  'profile_path': '/v1cwS9Ia89pO154Wje3m4IxuI3.jpg'},
 {'cast_id': 130,
  'character': 'Merc Tech',
  'credit_id': '56417c3092514128a6001a15',
  'gender': 0,
  'id': 97844,
  'name': 'Robert Pralgo',
  'order': 31,
  'profile_path': '/iDPgSaDVhwIItvqa2Wn79oaUzf8.jpg'},
 {'cast_id': 151,
  'character': 'Weapons Tech',
  'credit_id': '59a8b888c3a3683ce601e3aa',
  'gender': 0,
  'id': 1381712,
  'name': 'Antwan Mills',
  'order': 32,
  'profile_path': '/58nvO2Se7TS0ETUEzHHjJ0MLH5U.jpg'},
 {'cast_id': 152,
  'character': 'Billionaire',
  'credit_id': '59a8b8bac3a36874d5007ea3',
  'gender': 0,
  'id': 1880148,
  'name': 'J.J. Phillips',
  'order': 33,
  'profile_path': None},
 {'cast_id': 153,
  'character': 'Dominican Priest',
  'credit_id': '59a8b8ccc3a3683c8701fa73',
  'gender': 0,
  'id': 1880149,
  'name': 'Jorge Ferragut',
  'order': 34,
  'profile_path': None},
 {'cast_id': 154,
  'character': 'Hana',
  'credit_id': '59a8b8e3c3a36874d5007ec7',
  'gender': 0,
  'id': 1440699,
  'name': 'Sara Sohn',
  'order': 35,
  'profile_path': '/8nfPK3sFpHzw0uu66LmTK9HcQ5G.jpg'},
 {'cast_id': 155,
  'character': 'Merc Driver (as Ben Blankenship)',
  'credit_id': '59a8b904c3a3683c7a02381c',
  'gender': 0,
  'id': 1093707,
  'name': 'Benjamin Blankenship',
  'order': 36,
  'profile_path': '/xl0O9d7xS6XGSRqQl16StOxtkOR.jpg'},
 {'cast_id': 156,
  'character': 'DJ',
  'credit_id': '59a8b953c3a36876710081c2',
  'gender': 0,
  'id': 1880150,
  'name': 'D.J. Hapa',
  'order': 37,
  'profile_path': None},
 {'cast_id': 140,
  'character': 'DJ',
  'credit_id': '58eee68c92514142020018f0',
  'gender': 0,
  'id': 224092,
  'name': 'T-Pain',
  'order': 38,
  'profile_path': None},
 {'cast_id': 157,
  'character': 'Drone Tech',
  'credit_id': '59a8b98892514157ee01f2d9',
  'gender': 2,
  'id': 54792,
  'name': 'Brian Mahoney',
  'order': 39,
  'profile_path': '/v6pTsqgOHE5TldFV63Kr44idQNe.jpg'},
 {'cast_id': 131,
  'character': 'Jasmine',
  'credit_id': '56417c7b92514128a90018fb',
  'gender': 1,
  'id': 1128522,
  'name': 'Brittney Alger',
  'order': 40,
  'profile_path': '/u1eKIGLkK2GTpqFArNxgAMTMhOj.jpg'},
 {'cast_id': 158,
  'character': 'Mando',
  'credit_id': '59a8b9ad92514157ab020902',
  'gender': 0,
  'id': 1451616,
  'name': 'Romeo Santos',
  'order': 41,
  'profile_path': '/lbt98DkUpRNoJXiFbXzQfhMIRt4.jpg'},
 {'cast_id': 159,
  'character': 'Advisor',
  'credit_id': '59a8b9ca925141579d020ab6',
  'gender': 1,
  'id': 78804,
  'name': 'Jocelin Donahue',
  'order': 42,
  'profile_path': '/eQXBzPjo9K8MG9TVOoQDNoHEFwv.jpg'},
 {'cast_id': 160,
  'character': 'Field Reporter',
  'credit_id': '59a8b9da9251415808021296',
  'gender': 0,
  'id': 1880151,
  'name': 'Stephanie Langston',
  'order': 43,
  'profile_path': None},
 {'cast_id': 161,
  'character': 'Cop',
  'credit_id': '59a8b9f192514157a5020874',
  'gender': 0,
  'id': 1448173,
  'name': 'Jorge-Luis Pallo',
  'order': 44,
  'profile_path': '/9cw97jnvm7SvnCTNBWZHXt4clfu.jpg'},
 {'cast_id': 143,
  'character': 'Leo (uncredited / archive)',
  'credit_id': '58eee6b8925141423500180f',
  'gender': 2,
  'id': 96321,
  'name': 'Tego Calder√≥n',
  'order': 45,
  'profile_path': '/pz7i7LV35XRC5Si8liRoYWdrcr0.jpg'},
 {'cast_id': 142,
  'character': 'Neela (uncredited / archive)',
  'credit_id': '58eee6ab92514141ff001971',
  'gender': 1,
  'id': 116277,
  'name': 'Nathalie Kelley',
  'order': 46,
  'profile_path': '/68xBLk7FvQ36v794LbOrMxeOJeQ.jpg'},
 {'cast_id': 29,
  'character': 'Twinkie (uncredited)',
  'credit_id': '5431e03e0e0a265872002bf2',
  'gender': 0,
  'id': 58197,
  'name': 'Shad Moss',
  'order': 47,
  'profile_path': '/A1rHY9B5R9cIQshClcJxBYINg1m.jpg'},
 {'cast_id': 144,
  'character': 'Santos (uncredited / archive)',
  'credit_id': '58eee6c492514141f70019b8',
  'gender': 0,
  'id': 90634,
  'name': 'Don Omar',
  'order': 48,
  'profile_path': '/f1INIG2TE9jXXp5A3gGJR9UkePK.jpg'},
 {'cast_id': 141,
  'character': 'Race Wars Racer (uncredited)',
  'credit_id': '58eee698c3a36826510017dc',
  'gender': 0,
  'id': 1563213,
  'name': 'Klement Tinaj',
  'order': 49,
  'profile_path': None},
 {'cast_id': 139,
  'character': "Brian O'Conner (uncredited)",
  'credit_id': '58eee621c3a368265e001729',
  'gender': 0,
  'id': 1795034,
  'name': 'Caleb Walker',
  'order': 50,
  'profile_path': None},
 {'cast_id': 45,
  'character': "Brian O'Connor (uncredited)",
  'credit_id': '5589e3fd925141569c00003e',
  'gender': 2,
  'id': 1480862,
  'name': 'Cody Walker',
  'order': 51,
  'profile_path': '/6InC9qPrftOqsRK9ALcKFLHXSLV.jpg'}]

In [37]:
actor_list = []
for elem in cast_list:
    actor_list.append(elem['name'])

In [38]:
actor_list

['Vin Diesel',
 'Paul Walker',
 'Dwayne Johnson',
 'Michelle Rodriguez',
 'Tyrese Gibson',
 'Ludacris',
 'Jordana Brewster',
 'Djimon Hounsou',
 'Tony Jaa',
 'Ronda Rousey',
 'Nathalie Emmanuel',
 'Kurt Russell',
 'Jason Statham',
 'Sung Kang',
 'Gal Gadot',
 'Lucas Black',
 'Elsa Pataky',
 'Noel Gugliemi',
 'John Brotherton',
 'Luke Evans',
 'Ali Fazal',
 'Miller Kimsey',
 'Charlie Kimsey',
 'Eden Estrella',
 'Gentry White',
 'Iggy Azalea',
 'Jon Lee Brody',
 'Levy Tran',
 'Anna Colwell',
 'Viktor Hernandez',
 'Steve Coulter',
 'Robert Pralgo',
 'Antwan Mills',
 'J.J. Phillips',
 'Jorge Ferragut',
 'Sara Sohn',
 'Benjamin Blankenship',
 'D.J. Hapa',
 'T-Pain',
 'Brian Mahoney',
 'Brittney Alger',
 'Romeo Santos',
 'Jocelin Donahue',
 'Stephanie Langston',
 'Jorge-Luis Pallo',
 'Tego Calder√≥n',
 'Nathalie Kelley',
 'Shad Moss',
 'Don Omar',
 'Klement Tinaj',
 'Caleb Walker',
 'Cody Walker']

# 2. This data has information about movie made in different languages. Which language has the highest averga ROI?

In [39]:
# Calculate the ROI
imdb_new_df['roi'] = 100 * imdb_new_df['profit'] / imdb_new_df['budget']

In [40]:
imdb_new_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit,roi
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.873588
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000,296.727273
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000,1233.333333
4,5,NaN,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,-12526030,-76.146079

### We will groupby on the original language and calculate the mean of the ROI

In [41]:
# Creating grouped dataframe
roi_languages_df = imdb_new_df.groupby('original_language')['roi'].mean().reset_index()

In [42]:
roi_languages_df.head()

  original_language        roi
0                ar -91.807009
1                bn -96.739429
2                cn  86.002479
3                cs -99.894267
4                da  24.702661

In [43]:
max_roi_lan = roi_languages_df[roi_languages_df['roi'] == roi_languages_df['roi'].max()]

In [44]:
print('The language with the highest average ROI is :', max_roi_lan['original_language'].iloc[0])

The language with the highest average ROI is : ko

# 3. Find out the unique genres of movies in thos dataset.

In [46]:
# Considering only those observations for which genre is not taking null values
imdb_df_no_na_genres = imdb_new_df[~imdb_new_df['genres'].isna()]

In [47]:
imdb_df_no_na_genres.shape

(2993, 25)

imdb_df_no_na_genres.head()

In [49]:
imdb_df_no_na_genres.iloc[0]['genres']

[{'id': 35, 'name': 'Comedy'}]

In [52]:
# Create the list of genres
genres_list = []

# Iterate over each observation in the dataframe
for index, row in imdb_df_no_na_genres.iterrows():
    
    # Identify the list of genres
    genre_list = row['genres']
    
    # We will iterate over list of dictionaries
    for elem in genre_list:
        genres_list.append(elem['name'])

In [53]:
# Unique set of genres
set(genres_list)

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western'}

# 4. Make a table of all producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average ROI.

In [56]:
# Create a dataframe in which we have no null observation for the column crew

imdb_df_no_na_crew = imdb_df[~imdb_df['crew'].isna()]

In [57]:
imdb_df_no_na_crew.iloc[0],['crew']

(id                                                                       1
 belongs_to_collection    [{'id': 313576, 'name': 'Hot Tub Time Machine ...
 budget                                                            14000000
 genres                                      [{'id': 35, 'name': 'Comedy'}]
 homepage                                                               NaN
 imdb_id                                                          tt2637294
 original_language                                                       en
 original_title                                      Hot Tub Time Machine 2
 overview                 When Lou, who has become the "father of the In...
 popularity                                                         6.57539
 poster_path                               /tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg
 production_companies     [{'name': 'Paramount Pictures', 'id': 4}, {'na...
 production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
 release_date                                                       2/20/15
 runtime                                                                 93
 spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
 status                                                            Released
 tagline                  The Laws of Space and Time are About to be Vio...
 title                                               Hot Tub Time Machine 2
 Keywords                 [{'id': 4379, 'name': 'time travel'}, {'id': 9...
 cast                     [{'cast_id': 4, 'character': 'Lou', 'credit_id...
 crew                     [{'credit_id': '59ac067c92514107af02c8c8', 'de...
 revenue                                                           12314651
 Name: 0, dtype: object,
 ['crew'])

In [67]:
# Creating a function which returns the list of producers and directors for each movie

def get_producers_and_directors(row):
    try:
        # Initialize two lists
        producer_list = []
        director_list = []
        for elem in row['crew']:
            if elem['job'] == 'Producer':
                producer_list.append(elem['name'])
            if elem['job'] == 'Director':
                director_list.append(elem['name'])
                row['producers'] = producer_list
                row['directors'] = director_list
        return row
    except:
        return None

In [68]:
imdb_new2_df = imdb_new_df.apply(get_producers_and_directors, axis = 1)

In [69]:
imdb_new2_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,tagline,title,Keywords,cast,crew,revenue,profit,roi,producers,directors
0,1.0,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651.0,-1685349.0,-12.038207,[Andrew Panay],[Steve Pink]
1,2.0,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435.0,55149435.0,137.873588,"[Whitney Houston, Mario Iscovich, Debra Martin...",[Garry Marshall]
2,3.0,NaN,3300000.0,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000.0,9792000.0,296.727273,"[David Lancaster, Michel Litvak, Jason Blum, H...",[Damien Chazelle]
3,4.0,NaN,1200000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000.0,14800000.0,1233.333333,[Sujoy Ghosh],[Sujoy Ghosh]
4,5.0,NaN,16450000.0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970.0,-12526030.0,-76.146079,[],[Jong-seok Yoon]